@CHARSET "UTF-8";

body{
    background-color: purple;
}

.dot{
    width: 20px; 
    height:20px; 
    border-radius: 50%; 
    background-color: #A00; 
    position: absolute; 
     
    left: 250px; 
    transform:translate(-50%,-50%);
}

#dot1{
    top: 150px;
}

#outer{
    width: 150px;
    height: 400px;
    background-color: green;
    border: 4px solid #fff;
    border-radius: 40px;
    position: relative;
}

#inner{
    width: 400px;
    height: 300px;
    background-color: yellow;
    border: 4px solid #fff;
    border-radius: 10px;
    position: absolute;
    left: 200px;
    top: 100px;
    

#box{
    width: 400px;
    height: 250px;                                                      
    
}

#finishLine{
    width: 40px;
    height: 120px;
    font-size: 0;
    position: absolute;
    left: 210px;
    top: 300px;
}

.checker{
    width: 10px;
    height: 10px;
    display: inline-block;
}

.black{
    background-color: red;
}

.white{
    background-color: blue;
}